<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola Mundo</h1>
    <input type="number" class="num">
    <input type="number" class="exp" placeholder="Exponente">
    <h4 class="text-async"></h4>
    <script>
       let num = document.querySelector(".num");
       let exp = document.querySelector(".exp");
       num.addEventListener("keyup",(e)=>{
        let expo = Math.pow(parseInt(e.target.value),parseInt(exp.value));
        if (!isNaN(expo)) document.querySelector(".text-async").innerHTML=expo;
        else document.querySelector(".text-async").innerHTML="";
       });
       exp.addEventListener("keyup",(e)=>{
        let expo =  Math.pow(parseInt(num.value),parseInt(e.target.value));
        if (!isNaN(expo)) document.querySelector(".text-async").innerHTML=expo;
        else document.querySelector(".text-async").innerHTML="";
       });
    </script>
</body>
</html>